<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqKZIWUIlgs3Ar_3FRmC-4n-KS_Uc5eZE</string>
	<key>GCM_SENDER_ID</key>
	<string>22778761281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondone</string>
	<key>PROJECT_ID</key>
	<string>my-project-8e1a9</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-8e1a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22778761281:ios:625a6dcc38d655a54a36c0</string>
</dict>
</plist>